body {
	padding: 0;
	margin: 0;
}

main {
	font-family: Arial, sans-serif;
	max-width: 1200px;
	height: auto;
}

.section-form {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.container {
	display: flex;
	justify-content: center;
	width: 100%;
}

.form-header {
	text-align: center;
	font-size: clamp(1rem, 1rem + 3vw, 1rem);
}

.form-content .block-item{
	display: flex;
    align-items: center;
	border: 1px solid #ccc;
    padding: 0 10px;
    margin: 10px;
	border-radius: 6px;
}

.form-content .block-item p {
	margin-right: 20px;
	font-size: clamp(1rem, 1rem + 3vw, 1rem);
}

.form-content .block-item input, .block-title, .block-output span {
	font-size: clamp(0.1rem, 1rem + 3vw, 1rem);
}

.form-button {
	display: flex;
	justify-content: center;
	margin: 10px 0 20px 0;
}

.form-output {
	display: flex;
	justify-content: center;
    margin: 20px;
	max-width: 240px;
}

.block-title {
	margin-right: 10px
}

.block-output {
	justify-content: center;
    display: flex;
    align-items: center;
}

button {
	padding: 0.5rem 1rem;
    background-color: #336699;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-size: clamp(0.1rem, 1rem + 3vw, 1rem);
}

input[type="number"] {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
	text-align: center;
}

span#media {
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 6px;
}